.header-color {background-color: #578fd4 !important;color: white !important;}

.card .card-body > hr {display: block}

.mini-table {
    border: 1px solid rgba(112, 112, 112, 0.12);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    /*height: 204px;*/
    background-color: #f7f7f7;
}

.btn-float-right {float: right; margin-top: -8px}

.search-box {background-color: black; width: 38px;height: 38px;color: white; text-align: center}

.table-content {
    background-color: #fff;
    border: 1px solid rgba(112, 112, 112, 0.12);
    /*margin-left: -9px;*/
    /*width: 349px;*/
}

.user {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    padding: 0;
    color: #fff;
    border: 1px solid grey;
    border-radius: 50%;
    background: grey;
    font-size: 12px;
}